<!doctype HTML>
<html>
  <head><title>File Metadata Microservice</title></head>
  <style>
  	div {
  		margin-left: 20px;
  	}
  	span {
  		font-size:20px;
  		color: green;
  	}
  </style>
  <body>
     <div>
    	 <h1>File Metadata Microservice by Mun</h1>
	</div>	
     <div>
     	<quote style="font-size:25px;line-height: 35px;">
     		User stories:
     		<ol>
     			<li> I can submit a FormData object that includes a file upload.</li>
     			<li>When I submit something, I will receive the file size in bytes within the JSON response</li>
     		</ol>
		
     	</quote>
     </div>

     <div>
     	<h2>Upload form</h2>
     	<span>
     		<a href="{{url}}/api/imagesearch/lolcats%20funny" target="_blank">
			 	{{url}}/api/imagesearch/lolcats%20funny
     		</a>
     	</span>
		 <br/>
		
     </div>

	 <div>
     	<h2>See my sourcecode</h2>
		 <span>
			  <a href="https://github.com/quangnd/Node-API-ImageSearch" target="_blank">
				https://github.com/quangnd/Node-API-ImageSearch
			</a>
		 </span>
	 </div>
  </body>
</html>
